.stars {
  display: flex;
  flex-direction: row;
}

.stars__star {
  background-image: url('images/star.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

.stars__star:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.stars.stars--1 :first-child,
.stars.stars--2 :nth-child(-n + 2),
.stars.stars--3 :nth-child(-n + 3),
.stars.stars--4 :nth-child(-n + 4),
.stars.stars--5 .stars__star {
  background-image: url('images/star-active.svg');
}
